body {
  background-color: #1D0042;
  background-image: radial-gradient(ellipse at 50% 52.5%, #000000 20%, #1D0042 50%);
  background-repeat: no-repeat;
  background-size:150vw 300vh;
  background-position: center;
  overflow: hidden;
  display: flex;
  align-items: center;
}

@font-face {
    font-family: 'SpaceRanger';
    src: url('spaceranger.ttf') format('truetype');
}
@font-face {
    font-family: 'SpaceRangerHalf';
    src: url('spacerangerhalf.ttf') format('truetype');
}


.bigStar {
  width: 0.5vh;
  height: 0.5vh;
  background:white;
  clip-path: polygon(20% 40%, 40% 40%, 40% 20%, 60% 20%, 60% 39%, 80% 40%, 80% 60%, 60% 60%, 60% 80%, 40% 80%, 40% 60%, 20% 60%);
}

.glow {
  position: absolute;
  filter: drop-shadow(0 0 1vh #ffffff);
}

.smallStar {
  position: absolute;
  width: 0.1vh;
  height: 0.1vh;
  background:white;
}

.blackHoleA {
  width: 20vh;
  height: 10vh;
  /* background:black; */
  background: radial-gradient(farthest-corner at 50% 100%, #000 55%, #dd2080 100%);
  position: absolute;
  border-top-left-radius: 10vh;
  border-top-right-radius: 10vh;
  top:40%;
  bottom: 50%;
  left: 0;
  right: 0;
  margin: auto;
  /* outline: 0.25vh solid white; */

  z-index:5;
}
.blackHoleB {
  width: 20vh;
  height: 10vh;
  /* background:black; */
  background: radial-gradient(farthest-corner at 50% 0%, #000 55%, #dd2080 100%);
  position: absolute;
  border-bottom-left-radius: 10vh;
  border-bottom-right-radius: 10vh;
  top:55%;
  bottom: 50%;
  left: 0;
  right: 0;
  margin: auto;
  /* outline: 0.25vh solid white; */

  z-index:2;
}

.bgrA {
  width: 20.5vh;
  height: 10vh;
  background-color:#550c31;
  background-image: radial-gradient(ellipse at 50% 50%, #000000, #550c31);
  /* background-image: url(noise.png); */
  position: absolute;
  border-top-left-radius: 10vh;
  border-top-right-radius: 10vh;
  top:39%;
  bottom: 50%;
  left: 0;
  right: 0;
  margin: auto;
  /* outline: 0.25vh solid white; */
  z-index:4;
}

.bgrB {
  width: 20.5vh;
  height: 10.5vh;
  background-color:#550c31;
  background-image: radial-gradient(ellipse at 50% 50%, #000000, #550c31);
  /* background-image: url(noise.png); */
  position: absolute;
  border-bottom-left-radius: 10vh;
  border-bottom-right-radius: 10vh;
  top:55%;
  bottom: 50%;
  left: 0;
  right: 0;
  margin: auto;
  /* outline: 0.25vh solid white; */
  z-index:1;
}

.bgrh {
  width: 40vh;
  height: 3vh;
  background-color:#550c31;
  background-image: radial-gradient(ellipse at 50% 50%, #000000 , #550c31);
  background-repeat: repeat-x;
  /* background-image: url(noise.png); */
  position: absolute;
  border-radius: 50%/100%;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  outline: 0.25vh solid white;
  z-index:3;
}

.bgGlow {
  position: absolute;
  filter: drop-shadow(0 0 25vh #dd2080);
  position: absolute;
  border-radius: 50%/100%;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index:9;
}

.title {
  position: absolute;
  top: 12%;
  right: 25%;
  bottom: 76%;
  left: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tText {
  color: white;
  font-family: SpaceRangerHalf;
  text-shadow: 0 0 1em #ffffff;
  font-size: 8vh;
  text-align: center;
}


.sinkingStar {
  width: 0.75vh;
  height: 0.75vh;
  background:white;
  clip-path: polygon(20% 40%, 40% 40%, 40% 20%, 60% 20%, 60% 39%, 80% 40%, 80% 60%, 60% 60%, 60% 80%, 40% 80%, 40% 60%, 20% 60%);
  position:relative;
  z-index:90;
}

.spinring {
    left: 50%;
    position: fixed;
    transform-style: preserve-3d;
    animation: spinspinspin 8s linear infinite;
    --deg: calc(360deg / var(--numchs));
}

.spinring .char {
    position: fixed;
    color: white;
    font-size: 4vh;
    font-family: SpaceRanger;
    transform-style: preserve-3d;
    transform-origin: center;
    transform: rotateY(calc(var(--char-index) * var(--deg))) translateZ(30vh) translateY(50vh);
}

@keyframes glimmer {
  0%{
    clip-path: polygon(20% 40%, 40% 40%, 40% 20%, 60% 20%, 60% 39%, 80% 40%, 80% 60%, 60% 60%, 60% 80%, 40% 80%, 40% 60%, 20% 60%);
  }
  50% {
    clip-path: polygon(0 40%, 40% 40%, 40% 0, 60% 0, 60% 39%, 100% 40%, 100% 60%, 60% 60%, 60% 100%, 40% 100%, 40% 60%, 0 60%);
  }
}


@keyframes move {
  0% {
    offset-distance: 0%;
    z-index:90;
  }
  100% {
    offset-distance: 100%;
    z-index:0;
  }
}

@keyframes spinspinspin {
    0% {
        transform: perspective(100vh) rotateY(360deg);
    }
    100% {
        transform: perspective(100vh) rotateY(0deg) ;
    }
}
